name: Collect Markdown Files

on:
  push:
    branches:
      - 'feature/**'

jobs:
  collect-markdown-files:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files in entries
        id: changed_files
        uses: tj-actions/changed-files@v46
        with:
          files: entries/**
          base_sha: ${{ github.event.before }}

      - name: Get markdown files
        id: changed_markdown_files
        shell: bash
        run: |
          markdown_files=()
          for file in ${{ steps.changed_files.outputs.all_changed_files }}; do
            if [[ "$file" != *.md ]]; then
              continue
            fi
            markdown_files+=("$file")
          done

          echo "MARKDOWN_FILES=${markdown_files[*]}" >> "$GITHUB_OUTPUT"

      - name: Show markdown files output
        run: |
          echo "MARKDOWN_FILES: ${{ steps.changed_markdown_files.outputs.MARKDOWN_FILES }}"
